* { box-sizing: border-box; }

body, html {
    margin: 0;
    padding: 0;
}

body { 
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chat components */
.chat-input {
    font-family: monospace;
    padding: 8px;
    font-size: 14px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    border: 3px solid #afafaf;
    border-radius: 7px;
}
.chat-balloon {
    max-width: 130px;
    overflow: hidden;
    border: 2px solid #afafaf;
    font-family: monospace;
    padding: 8px;
    border-radius: 12px 12px 12px 0;
    background-color: #fff;
}
/* UI MENU */
.quick-menu {
    display: flex !important;
    gap: 4px;
}
.quick-menu-item {
    color: #fff;
    border: 2px solid #afafaf;
    border-radius: 7px;
    background: linear-gradient(rgba(20, 158, 196, 0.8),rgba(142, 194, 217, 0.8));
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    position: relative;
}
.quick-menu-item:hover {
    background-color: rgba(255, 255, 255, 1);
}

.quick-menu-item:hover::before {
    content: attr(data-content);
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    font-family: monospace;
    top: -36px;
    right: 0;
}
/* Inventory Menu */
.inventory-menu {
    display: flex !important;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    color: #fff;
    margin: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 7px;
    background: linear-gradient(rgba(20, 158, 196, 0.4),rgba(142, 194, 217, 0.4));
    width: calc(100% - 40px);
    height: 140px;
}
.inventory-menu-item {
    height: 100%;
    padding: 4px 6px;
    border: 3px solid #0f3a36;
    background-color: #fff;
    border-radius: 9px;
    font-family: monospace;
}
.inventory-menu-item {
    width: 140px;
}
.inventory-menu-item:hover {
    cursor: pointer;
    outline: 2px dashed #ececec;
}

.inventory-menu-item__title {
    text-align: center;
    font-size: 12px;
    color: #000;
}
.inventory-menu-item__nft {
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: #000;
}
.inventory-menu-item__icon {
    border: 1px solid rgb(156, 156, 156);
    border-radius: 7px;
    height: 70px;
}